.community {
  min-height: 668px;

  background-color: #FFF;
}

.community-content {
  display: flex;

  padding-top: 4px;
}

.community-text {
  display: flex;
  flex-direction: column;

  max-width: 606px;
  margin-left: 103px;
  padding-top: 117px;
  gap: 60px;
}

.community-header {
  font-family: "Playfair Display";
  font-size: 56px;
  font-weight: 900;
  line-height: 100%;
}

.community-item {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 149%;
}

.community-image {
  max-width: 533px;
  height: 640px;
  margin-left: -31px;
}

.community-message {
  width: 696px;
}
