.community {
  min-height: 668px;

  background-color: #FFF;
}

.community-content {
  display: flex;
}

.community-text {
  display: flex;
  flex-direction: column;

  max-width: 696px;
  margin-left: 103px;
  padding-top: 117px;
}

.community-item {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 149%;
}

.community-image {
  position: relative;

  max-width: 533px;
  height: 640px;
  margin-left: -31px;

  &::after {
    position: absolute;

    right: -165px;
    bottom: 31px;

    width: 315px;
    height: 37px;

    content: "";

    background-image: url('../images/bg-icon/many-small-lines.svg');
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.community-message {
  margin-top: 52px;
}
