.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #2a2a2a;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310.16px;
  color: #fff;
  font-family: 'Segoe UI Regular', sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 100%;
}

.footer-heart {
  width: 24px;
  height: 24px;
}

.footer-link-project {
  color: #fff;

  &:hover {
    color: #d9304f;
  }
}

.footer-socials {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-social {
  &:hover {
    svg path {
      fill: #d9304f;
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
