@import "./nav";

.hero {
  position: relative;
  z-index: 1;

  display: flex;

  height: 100vh;

  background-image: url("../images/bg/hero.png");
}

.divider {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;

  background: #F5F5F5;

  box-shadow:
    0 30px 60px rgba(208, 208, 208, 0.2),
    0 -30px 60px rgba(208, 208, 208, 0.2),
    0 -30px 60px rgba(255, 255, 255, 0.9),
    0 0 75px rgba(208, 208, 208, 0.9);

  a {
    text-decoration: none;
  }
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 200px;
  height: 48px;
  margin-top: 634px;

  border: 0;
  border-radius: 4px;
  outline: none;
}

.logo {
  width: 186px;
}

.main-text {
  position: absolute;
  z-index: 2;
  top: 204px;
  right: 0;
  left: 0;

  width: 1300px;
  margin: 0 auto;

  text-align: start;
  letter-spacing: 0.04rem;

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Playfair Display";
  font-size: 128px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

.message-container {
  position: absolute;
  z-index: 2;
  top: 494px;
  right: 0;
  left: 0;

  display: flex;
  justify-content: flex-end;

  width: 1300px;
  margin: 0 auto;

  text-align: end;
}

.message {
  width: 550px;

  font-size: 36px;
  font-weight: 400;
  line-height: 149%;
}
