.howto {
  min-height: 478px;
  padding: 87px 0;

  background: #FFF;
}

.howto__wrapper {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    z-index: -1;

    top: 50%;

    width: 100%;
    height: 2px;

    content: "";
    transform: translateY(-50%);

    background-color: #E3E3E3;
  }
}

.howto-list {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 63px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.howto-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 169px;
  height: 162px;

  padding: 8px 9px 0;

  text-align: center;

  border: 1px solid #E3E3E3;
  background: #FFF;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.howto-item__title {
  margin-bottom: 13px;

  color: #2A2A2A;

  font-family: 'Playfair Display';

  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
}

.howto-item__text,
.howto-item__link {
  color: #747376;

  font-size: 18px;
  font-weight: 400;
  line-height: 149%;
}

.howto-item__link {
  color: #D9304F;

  &:hover {
    text-decoration: none;

    color: #D9304F;
  }
}
