.mission {
  position: relative;
  z-index: 2;

  height: 742px;
  padding-top: 111px;

  background: #FFF;
  background-image: url("../images/bg/mission.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mission-content {
  display: flex;
  flex-direction: column;
}

.mission-header {
  text-align: center;

  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Playfair Display";
  font-size: 56px;
  font-weight: 900;
  font-style: normal;
}

.mission-text {
  max-width: 963px;
  margin: 61px auto 30px;

  text-align: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 149%;

  p {
    margin-bottom: 28px;
  }
}

.mission-divider {
  align-self: center;

  width: 246px;
  height: 2px;

  background: #2A2A2A;
}
