.nav {
  z-index: 2;

  display: flex;
  align-items: center;

  width: 1300px;
  height: 100px;
  margin: 0 auto;
  gap: 100px;

  a {
    &:hover {
      color: #D9304F;
    }
  }
}

.divider-item {
  width: 705px;
}
