@import './base';

// ELEMENTS
@import './elements/button';
@import './elements/languages';
@import './elements/hamburger';
@import './elements/input';
@import './elements/text';
@import './elements/bg-icons';
@import './elements/title-pages';

// SECTIONS
@import './sections/header';
@import './pages/developers/sections/promo';
@import './pages/developers/sections/collaboration';
@import './pages/developers/sections/becomedev';
@import './pages/developers/sections/ideas';
@import './pages/developers/sections/grant';
@import './pages/developers/sections/monetization';
@import './pages/developers/sections/auditors';
@import './sections/footer';

// MEDIA
@import './adaptive/header';
@import './pages/developers/adaptive/promo';
@import './pages/developers/adaptive/collaboration';
@import './pages/developers/adaptive/becomedev';
@import './pages/developers/adaptive/ideas';
@import './pages/developers/adaptive/grant';
@import './pages/developers/adaptive/monetization';
@import './pages/developers/adaptive/auditors';
@import './adaptive/footer';

section {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1332px;
  margin: 0 auto;
}

.title-pages {
  align-self: start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    padding: 0 20px;
  }
}

.title-pages--secondary {
  width: auto;
  text-align: start;
}

.title-pages--secondary::after {
  display: none;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop-only {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .ideas {
    .title-pages--secondary.underlined {
      position: relative;
    }

    .underlined::after {
      display: block;

      // bottom: -18px;
      left: -310px;
      width: 492px;
      content: '';
    }
  }
}

@media screen and (min-width: 1024px) {
  .collaboration {
    .title-pages--secondary.underlined {
      position: relative;
      margin-bottom: 30px;
    }

    .underlined::after {
      display: block;
      bottom: -18px;
      left: -310px;
      width: 665px;
      content: '';
    }
  }
}
