@import './base';
@import './base/constans';

// SECTION
@import './sections/header';
@import './sections/footer';

// ELEMENTS
@import './elements/button';
@import './elements/languages';
@import './elements/notification';
@import './elements/hamburger';
@import './elements/text';
@import './elements/input';

// ADATPIVE
@import './adaptive/header';
@import './adaptive/footer';

.document {
	margin-top: 100px;
	margin-bottom: 100px;

	h1 {
		color: #2A2A2A;

		font-size: 50px;
		font-weight: 900;
		line-height: 149%;
	}

	span {
		color: #747376;

		font-size: 25px;
		line-height: 149%;
	}

	p,
	li {
		color: #2A2A2A;

		font-size: 16px;
		line-height: 149%;
	}

	ul {
		margin-top: 20px;
	}

	p {
		margin-top: 16px;
		margin-bottom: 0;
	}

	li {
		span {
			font-size: 16px;
		}

		p {
			margin-top: 5px;

			&:last-child {
				margin-bottom: 10px;
			}
		}
	}

	h2 {
		margin-top: 20px;

		font-size: 40px;
		font-weight: 900;
		line-height: 149%;
	}

	a {
		word-wrap: break-word;

		color: $ifm-link-hover;
	}
}

@media (max-width: 900px) {
	.document {
		h1 {
			font-size: 41px;
		}
	}

	.document h2 {
		font-size: 24px;
	}

	.document span {
		font-size: 21px;
		line-height: 84%;
	}
}

@media (max-width: 480px) {
	.document {
		h1 {
			font-size: 41px;
		}
	}

	.document h2 {
		font-size: 26px;
	}

	.document span {
		font-size: 21px;
		line-height: 84%;
	}

	p,
	li {
		font-size: 14px;
	}
}
