@import "./base";
@import './fonts/playfair-display';

// ELEMENETS
@import "./pages/promo/elements/hamburger";
@import "./pages/promo/elements/button";
@import "./pages/promo/elements/title";
@import "./pages/promo/elements/rectangle";
@import "./pages/promo/elements/navbar";

// SECTIONS
@import "./pages/promo/sections/header";
@import "./pages/promo/sections/mission";
@import "./pages/promo/sections/paradigm-shift";
@import "./pages/promo/sections/community";
@import "./pages/promo/sections/howto";
@import "./pages/promo/sections/collaborate";
@import "./pages/promo/sections/footer";

// ADAPTIVE
@import "./pages/promo/adaptive/header";
@import "./pages/promo/adaptive/mission";
@import "./pages/promo/adaptive/paradigm-shift";
@import "./pages/promo/adaptive/community";
@import "./pages/promo/adaptive/howto";
@import "./pages/promo/adaptive/collaborate";
@import "./pages/promo/adaptive/footer";

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../fonts/Segoe/SegoeUI.ttf), url("Segoe UI.ttf") format("ttf");
}

body {
  background-color: #F5F5F5;

  font-family: "Segoe UI Regular", sans-serif;
}

.container {
  width: 100%;
  max-width: 1318px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: underline;

  color: #2A2A2A;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
    font-weight: 900;
    line-height: 100%;
  }
}
