@import "./base";

// SECTIONS
@import "./pages/promo/sections/hero";
@import "./pages/promo/sections/mission";
@import "./pages/promo/sections/paradigm-shift";
@import "./pages/promo/sections/community";
@import "./pages/promo/sections/howto";
@import "./pages/promo/sections/collaborate";
@import "./pages/promo/sections/footer";

.title {
  color: #2A2A2A;

  font-family: "Playfair Display";
  font-size: 56px;
  font-weight: 900;
  line-height: 100%;

  &--center {
    text-align: center;
  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url(../fonts/Segoe/SegoeUI.ttf), url("Segoe UI.ttf") format("ttf");
}

@font-face {
  font-family: "Playfair Display";
  src:
    url(../fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf),
    url("PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Segoe UI Regular";
}

a {
  text-decoration: underline;

  color: #2A2A2A;
}
