{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": null
  },
  "ignoreFiles": "./src/scss/base/bootstrap-reboot.min.scss"
}