.button {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #d9304f;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: #fff;
    background-color: #f26680;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    background-color: #a6253c;
  }
}
