@media screen and (max-width: 1635px) {
	.innovation .two-triangles-1 {
		right: -48px;
	}

	.innovation .two-triangles-2 {
		display: none;
	}

	.innovation .waves-icon {
		right: 104px;
	}
}

@media screen and (max-width: 1410px) {
	.innovation__right {
		margin-right: 21px;
	}

	.innovation .two-triangles-1 {
		right: 71px;
	}
}

@media screen and (max-width: 1240px) {
	.innovation__right-img {
		width: 483px;
		height: 598px;
	}

	.innovation .big-cross {
		display: none;
	}

	.innovation__right {
		margin-top: 175px;
	}

	.innovation .waves-icon {
		top: -349px;
		right: 4px;
	}

	.innovation .waves-icon-2 {
		right: 60px;
		bottom: -96px;

		display: block;

		transform: rotateX(180deg);
	}
}

@media screen and (max-width: 1070px) {
	.innovation__right-img {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.innovation {
		overflow: hidden;

		padding-top: 157px;
	}

	.innovation .waves-icon,
	.innovation .two-triangles-2 {
		display: block;
	}

	.innovation .two-triangles-2 {
		top: -147px;
		left: -99px;
	}

	.innovation__wrapper {
		margin-left: 58px;
	}

	.innovation__description {
		padding-top: 51px;
		padding-left: 0;
	}

	.innovation .waves-icon {
		top: -303px;
		right: -26px;
	}

	.innovation .many-straight-lines-icon,
	.innovation .middle-circle {
		display: none;
	}

	.innovation .two-triangles-1 {
		top: -138px;
		right: -24px;
	}

	.innovation__left {
		margin-right: 0;
	}
}

@media screen and (max-width: 580px) {
	.innovation__wrapper {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	.innovation__right {
		display: none;
	}

	.innovation {
		padding-top: 64px;
	}

	.innovation__description {
		max-width: 330px;
		padding-top: 34px;
	}
}
