@media screen and (max-width: 1360px) {
	.subscribe__link {
		display: none;
	}
}

@media (max-width: 1280px) {
	.subscribe {
		min-height: auto;
	}

	.subscribe__wrapper {
		flex-direction: column;
		justify-content: center;
	}

	.subscribe__form {
		justify-content: center;

		margin-top: 40px;
	}

	.subscribe__title {
		max-width: 100%;
		margin-right: 0;

		text-align: center;
	}

	.subscribe__socials {
		margin-top: 40px;
		margin-left: 0;
	}

	.subscribe__description {
		margin-top: 50px;
	}
}

@media (max-width: 900px) {
	.subscribe {
		padding: 11px 0;

		background-image: url('../images/bg/subscribe-bg-table.jpg');
	}

	.subscribe__description {
		margin-top: 111px;

		font-size: 26px;
		line-height: 149%;
	}

	.subscribe__description--2 {
		display: none;
	}

	.subscribe__description--1 {
		display: block;
	}

	.subscribe__socials {
		justify-content: center;
	}

	.subscribe__form {
		margin-top: 21px;
	}
}

@media (max-width: 480px) {
	.subscribe {
		padding-top: 13px;
		padding-bottom: 41px;

		background-image: url('../images/bg/subscribe-bg-mobile.jpg');
	}

	.subscribe__form {
		flex-direction: column;

		margin-top: 10px;
	}

	.subscribe__button {
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
	}

	.subscribe__title {
		font-size: 26px;
		line-height: 149%;
	}

	.subscribe__socials {
		margin-top: 21px;
	}

	.subscribe__input {
		text-align: center;
	}

	.subscribe__description--1 {
		display: none;
	}

	.subscribe__description--2 {
		display: block;

		margin-top: 104px;
	}
}
