@media (max-width: 1110px) {
	.footer {
		padding-top: 36px;
	}

	.footer__top {
		padding-bottom: 1px;
	}

	.footer__links,
	.footer__line--2 {
		display: none;
	}

	.footer__header {
		flex-direction: column;

		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 21px;
	}

	.footer__logo-text {
		display: block;

		max-width: 400px;
		margin-bottom: 0;
		margin-left: 62px;

		color: #FFF;
	}

	.footer__logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__form {
		max-width: 100%;
		margin: 0;
		margin-top: 26px;

		label {
			max-width: 100%;
		}
	}

	.footer__line--1 {
		display: block;

		margin-bottom: 14px;
	}

	.footer__button {
		min-width: 180px !important;
	}

	.footer__social-link svg {
		width: 50px;
		height: 50px;
	}

	.footer__social:not(:last-child) {
		margin-right: 39px;
	}
}

@media (max-width: 630px) {
	.footer__socials {
		justify-content: center;

		max-width: 371px;
	}

	.footer__social {
		margin-top: 10px;
		margin-right: 20px !important;
		margin-left: 20px;
	}

	.footer__logo {
		flex-direction: column;
	}

	.footer__inner {
		flex-direction: column-reverse;
	}

	.footer__inbound-links {
		flex-direction: column;
		justify-content: center;

		text-align: center;
	}

	.footer__bottom {
		padding: 16px 0;
	}

	.footer__inbound-item {
		margin-right: 0 !important;
		margin-bottom: 20px !important;

		&:not(:last-child) {
			margin-bottom: 20px !important;
		}
	}
}

@media (max-width: 480px) {
	.footer {
		padding-top: 16px;
	}

	.footer__logo-img {
		max-width: 241px;
	}

	.footer__header {
		padding-bottom: 16px;
	}

	.footer__logo-text {
		margin-top: 12px;
		margin-left: 0;
	}

	.footer__form {
		flex-direction: column;

		margin-top: 32px;
	}

	.footer__button {
		width: 100%;
		margin-top: 11px;
		margin-left: 0;
	}

	.footer__social-link svg {
		width: 39px;
		height: 39px;
	}

	.footer__line--1 {
		display: none;
	}

	.footer__social {
		margin-top: 18px;
		margin-right: 19px !important;
		margin-left: 5px;
	}
}
