$ifm-header-top-background: #f5f5f5;
$ifm-header-top-link-color: #919191;
$ifm-input-color-focus: #919191;
$ifm-button-check-bg: #919191;
$ifm-button-check-bg-active: #d9304f;
$ifm-button-hover: #f26680;
$ifm-button-active: #a6253c;
$ifm-input-border: #e3e3e3;
$ifm-link-hover: #d9304f;
$ifm-primary-color: #2a2a2a;
$ifm-secondary-color: #588ca3;
$ifm-background-economic: #eaf0f0;
$ifm-background-color-button: #d9304f;
$ifm-color-button: #d9304f;
$ifm-border-color-hamburger: #2a2a2a;
$ifm-footer-top-background: #5d6868;
$ifm-footer-bottom-background: #303636;
$ifm-input-error: #ff6442;
$ifm-header-top-height: 50px;
