$ifm-header-top-background: #F5F5F5;
$ifm-header-top-link-color: #919191;

$ifm-input-color-focus: #919191;

$ifm-button-check-bg: #919191;
$ifm-button-check-bg-active: #D9304F;
$ifm-button-hover: #F26680;
$ifm-button-active: #A6253C;

$ifm-input-border: #E3E3E3;

$ifm-link-hover: #D9304F;
$ifm-primary-color: #2A2A2A;
$ifm-secondary-color: #588CA3;

$ifm-background-economic: #EAF0F0;

$ifm-background-color-button: #D9304F;
$ifm-color-button: #D9304F;

$ifm-border-color-hamburger: #2A2A2A;

$ifm-footer-top-background: #5D6868;
$ifm-footer-bottom-background: #303636;

$ifm-input-error: #FF6442;

$ifm-header-top-height: 50px;
