@import "../../../base/mixins";

.auditors {
  padding: 20px 10px;
  background-image: url("../images/bg/auditors-bg-desktop.jpg");
  background: rgba(234, 240, 240, 0.6);
  max-width: none;
  
  @include backgroundStyle;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.auditors-img {
  width: 300px;
}

.auditors__description {
  text-align: justify;
}

.auditors__text {
  font-size: 16px;
}

.auditors__title-pages {
  .title-pages--secondary {
    position: static;
  }
}
