@import '../../../base/mixins';

.collaboration {
	padding-top: 178px;
	padding-bottom: 120px;

	.two-crosses {
		top: 36px;
		left: -34px;
	}

	.many-small-lines {
		right: -181px;
		bottom: 118px;
	}

	.two-triangles-2 {
		bottom: -59px;
		left: -86px;
	}
}

.collaboration__wrapper {
	display: flex;
	justify-content: space-between;
}

.collaboration__title-pages {
	max-width: 500px;

	.title-pages--secondary {
		right: auto;
		bottom: -16px;
		left: -389px;

		&::after {
			right: 0;
			left: auto;

			width: 1000%;
		}
	}
}

.collaboration__left {
	max-width: 610px;
	margin-right: 10px;
}

.collaboration__description {
	margin-top: 66px;

	.text {
		max-width: 100%;
	}
}

.collaboration__button {
	max-width: 254px;
	margin-top: 29px;
}

.collaboration__right {
	position: relative;

	width: 100%;
	max-width: 610px;
	margin-top: -79px;
}

.collaboration__img {
	position: relative;

	width: 100%;

	height: 750px;

	background-image: url('../images/bg/collaboration-desktop.png');

	@include imageBorder;
	@include backgroundStyle;
}
