@import '../../../base/mixins';

.ideas {
  margin-bottom: 20px;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.ideas_img-desktop {
  display: none;
}

.ideas__title-pages {
  .title-pages--secondary {
    position: static;
  }
}

.ideas__subtitle {
  font-weight: 900;
}

.ideas-img {
  margin-bottom: 20px;
}

.ideas__text {
  font-size: 16px;
  max-width: none;
}

.ideas__list {
  margin-left: 24px;
  list-style: none;
  margin-bottom: 20px;

  li {
    position: relative;
  }

  li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -25px;
    width: 14px;
    height: 14px;
    background-image: url('../images/icons/ideas-list-bullet.svg');
  }
}
