@import '../../../base/mixins';

.monetication {
	position: relative;

	padding-top: 183px;
	padding-bottom: 139px;

	.waves-icon {
		top: 253px;
		left: -158px;

		transform: rotate(136deg);
	}

	.big-circle-icon--1 {
		z-index: -1;
		top: -150px;
		left: 23px;
	}

	.big-circle-icon--2 {
		top: 21px;
		left: 259px;

		width: 70px;
		height: 70px;
	}

	.two-circle-icon {
		bottom: 112px;
		left: 180px;

		transform: rotate(87deg);
	}

	.big-circle-icon--3 {
		z-index: -1;
		bottom: -141px;
		left: -55px;

		width: 460px;
		height: 460px;
	}

	.big-circle-icon--4 {
		bottom: -105px;
		left: -76px;
	}

	.two-triangles-1 {
		right: 190px;
		bottom: 61px;

		transform: rotate(30deg);
	}

	.big-cross {
		z-index: -1;
		top: -85px;
		left: 49%;
	}
}

.monetication__top {
	display: flex;
	align-items: baseline;
}

.monetication__description {
	margin-left: 46px;

	.text {
		max-width: 100%;
	}
}

.monetication__title-pages .title-pages--secondary {
	position: static;

	display: block;

	width: auto;
	margin-top: -10px;

	text-align: left;

	&::after {
		right: 218px;
		left: auto;

		width: 1000%;
	}
}

.monetication__bottom {
	position: relative;

	margin-top: 56px;
}

.monetication__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.monetication__item {
	width: 46%;
	min-height: 130px;
	margin-bottom: 40px;
	padding: 42px 42px 0;

	background-size: contain;

	@include backgroundStyle;
}

.monetication__item--1,
.monetication__item--3 {
	background-position: right;
}

.monetication__item--2,
.monetication__item--4 {
	background-position: left;
}

.monetication__item--1 {
	background-image: url('../images/monetisation/1.svg');
}

.monetication__item--2 {
	background-image: url('../images/monetisation/2.svg');
}

.monetication__item--3 {
	padding-top: 27px;

	background-image: url('../images/monetisation/3.svg');
}

.monetication__item--4 {
	background-image: url('../images/monetisation/4.svg');
}

.monetication__inner {
	max-width: 535px;

	.text {
		max-width: 100%;
	}

	&.left {
		margin-left: auto;
	}
}
