@import "../../../base/mixins";
@import "../../../base/constans";

.promo {
  margin: 0;
  position: relative;
  height: 488px;
  background-image: url("../images/bg/promo.png");
  margin-bottom: 20px;
  max-width: none;

  @include backgroundStyle;

  &-content {
    position: absolute;
    top: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    text-align: center;

    &__primary {
      letter-spacing: 0.1em;
      font-weight: 900;
      font-size: 41px;
      margin-bottom: 40px;
    }

    &__secondary {
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 46px;
    }
  }

  &-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  &-button {
    width: 300px;

    &-icon {
      display: none;
    }
  }
}
