@import '../../../base/mixins';
@import '../../../base/constans';

.whitepapers {
	padding-top: 41px;
	padding-bottom: 17px;

	background-color: #EAF0F0;

	background-image: url('../images/bg/whitepapers-bg-desktop.jpg');

	@include backgroundStyle;
}

.button.button.expansion.whitepapers__button {
	max-width: 100%;
	padding: 8px 5px;
}

.whitepapers__button {
	margin-top: 24px;
}

.whitepapers__title {
	text-align: center;

	color: $ifm-primary-color;

	line-height: 149%;
}

.whitepapers__title-primary {
	font-size: 41px;
	font-weight: 400;
}

.whitepapers__title-secandary {
	display: block;

	margin-top: 20px;

	color: $ifm-primary-color;

	font-size: 16px;
	font-weight: 900;
}

.whitepapers__list {
	display: flex;
	justify-content: space-evenly;

	max-width: 1249px;
	margin-top: 22px;
	margin-right: auto;
	margin-left: auto;
}

.whitepapers__item {
	width: 100%;
	max-width: 227px;
}

.whitepapers__img {
	width: 150px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;

	border-radius: 100%;

	@include backgroundStyle;
}

.whitepapers__item--1 .whitepapers__img {
	background-image: url('../images/whitepapers/1.png');
}

.whitepapers__item--2 .whitepapers__img {
	background-image: url('../images/whitepapers/2.png');
}

.whitepapers__item--3 .whitepapers__img {
	background-image: url('../images/whitepapers/3.png');
}

.whitepapers__item--4 .whitepapers__img {
	background-image: url('../images/whitepapers/4.png');
}

.whitepapers__discord {
	display: block;

	margin-top: 20px;
	margin-bottom: 0;

	text-align: center;
}

.whitepapers__link {
	text-decoration: underline;

	color: $ifm-link-hover;

	&:hover {
		text-decoration: none;

		color: $ifm-link-hover;
	}
}
