@media (max-width: 1150px) {
	.fractal {
		padding: 7px 0;

		background-image: none;
	}

	.fractal__wrapper {
		max-width: 640px;
	}

	.fractal__bg-table {
		display: block;
	}

	.fractal__title-pages {
		display: flex;

		max-width: 400px;
		margin-top: 39px;

		text-align: left;
	}

	.fractal__title-pages .title-pages--secondary {
		margin-top: auto;
		margin-bottom: 8px;
		margin-left: 3px;

		white-space: nowrap;

		font-weight: 900;
	}

	.fractal__description {
		margin-top: 55px;
	}
}

@media (max-width: 580px) {
	.fractal__title-pages {
		flex-direction: column;
	}

	.fractal__title-pages .title-pages--secondary {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.fractal__bg-table {
		min-height: 180px;

		background-image: url('../images/bg/fractal-bg-mobile.jpg');
	}

	.fractal__wrapper {
		margin-top: -74px;
		padding: 0 10px;
	}

	.fractal__description {
		margin-top: 34px;
	}
}
