@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ideas__description {
    align-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .ideas {
    flex-direction: row;
    gap: 69px;
    margin-bottom: 100px;
  }

  .ideas-img {
    display: none;
  }

  .ideas_img-desktop {
    display: block;
    width: 50%;
  }
}
