@media (max-width: 1150px) {
	.inside {
		padding-top: 0;
		padding-bottom: 65px;

		.container {
			padding: 0;
		}
	}

	.inside__wrapper {
		flex-direction: column;
	}

	.inside__right {
		max-width: 100%;
		margin-top: 54px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.inside__img {
		min-height: 500px;

		background-image: url('../images/bg/inside-bg-table.jpg');
	}

	.inside__left {
		max-width: 768px;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	.inside__title-pages {
		display: none;
	}

	.inside__title-pages .title-pages--secondary {
		margin-top: 2px;
	}

	.inside__title-pages-mobile {
		display: block;

		padding: 0 20px;
	}
}

@media (max-width: 480px) {
	.inside__img {
		min-height: 320px;

		background-image: url('../images/bg/inside-bg-mobile.jpg');
	}

	.inside__left {
		max-width: 100%;
	}

	.inside__description {
		margin-top: 39px;
	}

	.inside__list {
		margin-left: 21px;
	}

	.inside__right {
		margin-right: 9px;
	}

	.inside__item,
	.inside__text {
		font-size: 14px;
	}

	.inside__item {
		margin-bottom: 5px;
	}

	.inside__title-pages-mobile {
		padding: 0 10px;
	}
}
