@media (max-width: 1150px) {
	.monetication {
		overflow: hidden;

		padding-top: 122px;
		padding-bottom: 81px;
	}

	.monetication__list {
		flex-direction: column;
	}

	.monetication__title-pages .title-pages--primary {
		display: inline;
	}

	.monetication__title-pages .title-pages--secondary {
		margin-top: -6px;
	}

	.monetication__item {
		width: 97%;
		margin-bottom: 20px;
		padding: 42px 20px 0;

		background-position: right;
	}

	.monetication__inner.left {
		margin: 0;
	}

	.monetication__item--1 {
		background-image: url('../images/monetisation/1-table.svg');
	}

	.monetication__item--2 {
		background-image: url('../images/monetisation/2-table.svg');
	}

	.monetication__item--3 {
		padding-top: 31px;

		background-image: url('../images/monetisation/3-table.svg');
	}

	.monetication__item--4 {
		background-image: url('../images/monetisation/4-table.svg');
	}

	.monetication__top {
		flex-direction: column;
	}

	.monetication__description {
		margin-top: 44px;
		margin-left: 0;
	}

	.monetication__bottom {
		margin-top: 33px;
	}

	.big-circle-icon,
	.two-triangles-1,
	.big-cross {
		display: none;
	}

	.monetication .waves-icon {
		top: -10px;
		right: -217px;
		left: auto;
	}
}

@media (max-width: 480px) {
	.monetication__item {
		padding: 23px 10px 0;
	}

	.monetication__item--1 {
		background-image: url('../images/monetisation/1-mobile.svg');
	}

	.monetication__item--2 {
		padding-top: 36px;

		background-image: url('../images/monetisation/2-mobile.svg');
	}

	.monetication__item--3 {
		background-image: url('../images/monetisation/3-mobile.svg');
	}

	.monetication__item--4 {
		padding-top: 36px;

		background-image: url('../images/monetisation/4-mobile.svg');
	}

	.monetication {
		overflow: visible;

		padding-top: 46px;
		padding-bottom: 18px;
	}

	.monetication__bottom {
		margin-top: 8px;
	}

	.monetication .waves-icon {
		display: none;
	}
}
