@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promo {
    height: calc(100vh - 80px);
    background-image: url("../images/bg/developers-bg-tablet.jpg");
    flex-direction: column;
    justify-content: center;

    &-content {
      display: block;
      position: static;
    }

    &-title {
      &__primary {
        letter-spacing: normal;
        font-size: 67px;
        margin-bottom: 40px;
      }

      &__secondary {
        letter-spacing: 1.3em;
      }
    }

    &-buttons {
      bottom: 26px;
    }

    &-button {
      width: 240px;

      &-icon {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .promo {
    height: calc(100vh - 104px);
    background-image: url("../images/bg/developers-bg-desktop.png");
    margin-bottom: 80px;
    flex-direction: column;
    justify-content: center;

    &-content {
      display: block;
      position: static;
    }

    &-buttons {
      bottom: 10%;
    }

    &-button {
      width: 176px;
    }

    &-button-icon {
        margin-top: 65px !important;
        display: block;
    }

    &-title {
      &__primary {
        font-size: 109px;
        line-height: 100%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      &__secondary {
        font-size: 41px;
        line-height: 100%;
        letter-spacing: 1.3em;
        text-transform: uppercase;
        margin-bottom: 127px;
      }
    }
  }
}
