@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promo {
    height: 944px;
    background-image: url("../images/bg/developers-bg-tablet.jpg");

    &-content {
      top: 350px;
    }

    &-title {
      &__primary {
        letter-spacing: normal;
        font-size: 67px;
        margin-bottom: 40px;
      }

      &__secondary {
        letter-spacing: 1.3em;
        margin-bottom: 328px;
      }
    }

    &-button {
      width: 240px;

      &-icon {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .promo {
    height: 816px;
    background-image: url("../images/bg/developers-bg-desktop.png");
    margin-bottom: 80px;

    &-content {
      top: 296px;
    }

    &-title {
      &__primary {
        font-size: 109px;
        line-height: 100%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      &__secondary {
        font-size: 41px;
        line-height: 100%;
        letter-spacing: 1.3em;
        text-transform: uppercase;
        margin-bottom: 127px;
      }
    }
  }
}
