@media (max-width: 1150px) {
	.vote {
		padding-bottom: 65px;
	}

	.vote__text {
		font-size: 26px;
		font-weight: 900;
	}
}

@media (max-width: 480px) {
	.vote {
		padding-top: 50px;
		padding-bottom: 48px;
	}

	.vote__text {
		max-width: 207px;
		margin-right: auto;
		margin-left: auto;

		font-size: 14px;
	}

	.vote__button {
		width: 100%;
	}
}
