@media (max-width: 1570px) {
	.owner .waves-icon {
		left: 0;
	}

	.owner .two-triangles-2 {
		left: -55px;
	}
}

@media (max-width: 1250px) {
	.owner .waves-icon,
	.owner .two-triangles-2 {
		display: none;
	}
}

@media (max-width: 1280px) {
	.owner__right {
		margin-left: 160px;
	}
}

@media (max-width: 1150px) {
	.owner {
		padding-top: 5px;
	}

	.owner__wrapper {
		flex-direction: column-reverse;
	}

	.owner__title-pages .title-pages--secondary {
		bottom: 10px;
		left: 151px;
	}

	.owner__right {
		margin: 0;
		margin-top: 7px;
	}

	.owner__list {
		display: flex;
		justify-content: center;
	}

	.owner__item--1 {
		margin-top: 183px;
		margin-left: 18px;
	}

	.owner__item--1::after {
		top: -82px;

		width: 120px;

		transform: rotate(271deg);
	}

	.owner__item--2 {
		margin-left: 44px;
	}

	.owner__item--2::after {
		top: 103px;
		left: 102px;

		transform: rotate(0deg);
	}

	.owner__item--3 {
		left: 45px;

		margin-top: 183px;
	}

	.owner__item--3::after {
		top: -81px;

		transform: rotate(-91deg);
	}

	.owner__item--4 {
		margin-left: 90px;
	}

	.owner__left {
		max-width: 100%;
		margin-top: -38px;

		.text {
			max-width: 100%;
		}
	}

	.owner__button {
		margin-top: 46px;
		margin-right: auto;
		margin-left: auto;
	}

	.owner .many-straight-lines-icon {
		top: -805px;
		left: 231px;
	}

	.owner__icon::before {
		left: -60px;
	}

	.owner__item--1 .owner__icon::before {
		left: -37px;
	}

	.owner .big-circle-icon {
		top: -399px;
		left: 145px;
	}

	.owner .middle-circle {
		top: -184px;
		left: 374px;
	}
}

@media (max-width: 730px) {
	.owner .many-straight-lines-icon {
		display: none;
	}
}

@media (max-width: 765px) {
	.owner__item {
		width: 100px;
		height: 100px;
	}

	.owner__item:not(:last-child)::after {
		width: 87px;
		height: 87px;

		background-image: url('../images/icons/line-with-polygon-3-mobile.svg');
	}

	.owner__icon {
		width: 100px;
		height: 100px;

		&::after {
			top: 11px;
			left: 10px;

			width: 80px;
			height: 80px;
		}
	}

	.owner__icon::before {
		top: -61px;
		left: -25px;

		font-size: 115px;
	}

	.owner__item--1 {
		margin-top: 127px;
		margin-left: 0;
	}

	.owner__item--1::after {
		top: -189px;
		left: 73px;

		margin-top: 129px;
	}

	.owner__item--2 {
		margin-left: 30px;
	}

	.owner__item--2::after {
		top: 72px;
		left: 74px;

		transform: rotate(0);
	}

	.owner__item--3 {
		left: 31px;

		margin-top: 129px;
	}

	.owner__item--3::after {
		top: -61px;
		left: 72px;
	}

	.owner__item--4 {
		margin-left: 59px;
	}
}

@media (max-width: 540px) {
	.owner .big-circle-icon,
	.owner .middle-circle {
		display: none;
	}

	.owner__icon::before {
		font-size: 98px;
	}

	.owner__item--1 .owner__icon::before {
		left: -16px;
	}

	.owner__list {
		align-items: center;
		flex-direction: column;
	}

	.owner__item:not(:last-child)::after {
		width: 68px;
		height: 68px;
	}

	.owner .many-straight-lines-icon {
		left: -222px;
	}

	.owner__right {
		margin-top: 16px;
	}

	.owner__item {
		margin-bottom: 2px;
		margin-bottom: 20px;
	}

	.owner__icon,
	.owner__item {
		width: 80px;
		height: 80px;
	}

	.owner__item--1 {
		margin-top: -10px;
		margin-left: -87px;
	}

	.owner__item--2 {
		margin-left: 114px;
	}

	.owner__item--3 {
		left: 0;

		margin-top: -2px;
		margin-left: -86px;
	}

	.owner__item--4 {
		margin-left: 113px;
	}

	.owner__item--1::after {
		top: -76px;
		left: 55px;

		transform: rotate(0);
	}

	.owner__icon::after {
		top: 9px;
		left: 4px;

		width: 71px;
		height: 71px;
	}

	.owner__item--2::after {
		top: 53px;
		left: -44px;

		transform: rotate(90deg);
	}

	.owner__item--3::after {
		top: 58px;
		left: 57px;

		transform: rotate(0deg);
	}

	.owner__title-pages {
		margin-top: -19px;
	}

	.owner__description {
		margin-top: 58px;
	}

	.owner__button {
		width: 100%;
		max-width: 100%;
		margin-top: 58px;
	}
}

@media (max-width: 480px) {
	.owner {
		padding-bottom: 31px;
	}

	.owner__title-pages .title-pages--secondary {
		bottom: 4px;
		left: 105px;
	}
}
