@import '../../../base/mixins';

.owner {
  padding-top: 63px;
  padding-bottom: 157px;

  .many-straight-lines-icon {
    z-index: -1;
    top: -188px;
    left: -122px;
    transform: rotate(90deg);
  }

  .big-circle-icon {
    z-index: -1;
    top: 204px;
    left: -255px;
  }

  .middle-circle {
    z-index: -1;
    top: 380px;
    left: -17px;
  }

  .waves-icon {
    z-index: -1;
    top: -15px;
    left: 180px;
    transform: rotate(136deg);
  }

  .two-triangles-2 {
    z-index: -1;
    top: 139px;
    left: 445px;
    transform: rotate(180deg);
  }
}

.owner__wrapper {
  display: flex;
}

.owner__right,
.owner__left {
  position: relative;
}

.owner__title-pages {
  max-width: 610px;
}

.owner__left {
  max-width: 610px;
}

.owner__right {
  margin-top: -129px;
  margin-left: 203px;
}

.owner__button {
  max-width: 255px;
  margin-top: 54px;
}

.owner__description {
  margin-top: 51px;
}

.owner__item {
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 42px;

  &::before {
    position: absolute;
    color: #588ca3;
    font-size: 26px;
    font-weight: 900;
  }

  &:not(:last-child)::after {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    content: '';
    background-image: url('../images/icons/line-with-polygon-3.svg');

    @include backgroundStyle;
  }
}

.owner__item--1::after,
.owner__item--2::after,
.owner__item--3::after {
  top: 102px;
}

.owner__item--1::before {
  top: 50px;
  right: -92px;
  content: 'Idea';
}

.owner__item--2::before {
  top: 50px;
  left: -251px;
  content: 'Registry record';
}

.owner__item--3::before {
  top: 51px;
  right: -321px;
  content: 'Dapplet deployment';
}

.owner__item--4::before {
  top: 52px;
  left: -246px;
  content: 'Public adoption';
}

.owner__icon {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  background-image: url('../images/owner/1.svg');

  &::after {
    position: absolute;
    top: 17px;
    left: 6px;
    width: 130px;
    height: 130px;
    content: '';
    transform: rotate(45deg);
    border: 1px solid #e3e3e3;
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: -27px;
    left: -27px;
    content: '1';
    color: #f5f5f5;
    font-size: 177px;
    font-weight: 900;
    line-height: 216px;
  }

  @include backgroundStyle;
}

.owner__item--1,
.owner__item--3 {
  &::after {
    left: 103px;
  }
}

.owner__item--2 {
  margin-left: 183px;

  &::after {
    left: -83px;
    transform: rotate(90deg);
  }

  .owner__icon {
    background-image: url('../images/owner/2.svg');

    &::before {
      content: '2';
    }
  }
}

.owner__item--3 {
  .owner__icon {
    background-image: url('../images/owner/3.svg');

    &::before {
      content: '3';
    }
  }
}

.owner__item--4 {
  margin-left: 183px;

  .owner__icon {
    background-image: url('../images/owner/4.svg');

    &::before {
      content: '4';
    }
  }
}
