@import '../../../base/constans';
@import '../../../base/mixins';

.promo {
	position: relative;

	padding-top: 140px;

	.big-circle-icon {
		top: -179px;
		left: -37px;
	}

	.two-circle-icon {
		top: 38px;
		left: 216px;
	}

	.waves-icon {
		top: 69px;
		left: 393px;
	}

	.middle-circle {
		bottom: -110px;
		left: 0;
	}
}

.promo__header-wrapper {
	display: flex;
}

.promo__header-left {
	position: relative;
	z-index: 2;
}

.promo__title {
	color: $ifm-primary-color;

	font-size: 177px;
	font-weight: 900;
	line-height: 216px;
}

.promo__subtitle {
	display: block;

	margin-top: 59px;

	color: #747376;

	font-size: 41px;
	line-height: 61px;
}

.promo__expansion {
	display: flex;
	align-items: center;

	margin-top: 58px;

	& > span {
		display: block;

		margin: 0 23px;
	}
}

.promo__button-browse {
	padding: 8px 20px;
	padding-left: 0;

	transition: all 0s;

	color: $ifm-background-color-button;

	span {
		margin-left: 10px;

		border-bottom: 1px solid $ifm-background-color-button;

		line-height: 17px;
	}

	&:hover {
		color: $ifm-button-hover;

		span {
			border-bottom-color: $ifm-button-hover;
		}

		svg path {
			stroke: $ifm-button-hover;
		}
	}
}

.promo__button-table {
	display: none !important;
}

.promo__header-right {
	position: relative;

	.many-small-lines {
		top: -15px;
		right: -201px;
	}
}

.promo__header-background {
	position: absolute;
	z-index: 1;
	top: -55px;
	left: -617px;

	width: 610px;
	height: 716px;

	background-image: url('../images/promo/deer-render.jpg');

	&.augment-image::after {
		opacity: 1;
	}

	&::after,
	&::before {
		position: absolute;

		width: 100%;
		height: 100%;

		content: '';
		pointer-events: none;

		@include backgroundStyle;
	}

	&::before {
		z-index: 0;

		top: -111px;
		left: -51px;

		max-width: 350px;
		max-height: 365px;

		opacity: 0.2;

		background-image: url('../images/icons/big-line-white.svg');
	}

	&::after {
		top: 0;
		left: 0;

		opacity: 0;
		background-image: url('../images/promo/deer-render-aug.jpg');
	}

	@include backgroundStyle;
}

.promo__header-thumb {
	position: absolute;
	top: 4px;
	right: -40px;

	width: 610px;
	height: 700px;

	content: '';

	background-color: #F5F5F5;

	&::before,
	&::after {
		position: absolute;
		z-index: 1;

		content: '';
		pointer-events: none;

		opacity: 0.2;

		@include backgroundStyle;
	}

	&::after {
		top: 81px;
		left: -82px;

		width: 708px;
		height: 408px;

		background-image: url('../images/icons/plus-group.svg');
	}

	&::before {
		bottom: 111px;
		left: -172px;

		width: 285px;
		height: 45px;

		background-image: url('../images/icons/line-white.svg');
	}
}
