@media (max-width: 1150px) {
  .team {
    padding-bottom: 54px;
  }

  .team__list {
    flex-wrap: wrap;
    max-width: 538px;
    margin-right: auto;
    margin-left: auto;
  }

  .team__lists {
    margin-top: 52px;
  }

  .team__list:not(:last-child) {
    margin-bottom: 0;
  }

  .team__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .team {
    margin-top: 580px;
    padding-bottom: 13px;
  }

  .team__img {
    width: 80px;
    height: 80px;
  }

  .team__name,
  .team__description {
    max-width: 80px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
  }

  .team__item {
    max-width: 137px;
    margin-bottom: 10px;
  }

  .team__lists {
    margin-top: 29px;
  }

  .team__title-pages {
    padding-left: 9px;

    .title-pages--secondary {
      position: static;
    }
  }
}
