@import '../base/mixins';

.crypto {
	position: relative;

	overflow: hidden;

	padding-top: 268px;
	padding-bottom: 87px;

	.many-straight-lines-icon {
		z-index: -1;
		top: -173px;
		right: -185px;

		transform: rotate(90deg);
	}

	.waves-icon {
		z-index: -1;
		top: -65px;
		right: 455px;

		transform: rotate(225deg);
	}

	.many-small-lines {
		right: -122px;
		bottom: 115px;
	}

	.many-small-lines-white {
		right: 465px;
		bottom: 73px;
	}

	.two-circle-icon {
		right: -158px;
		bottom: -59px;

		transform: rotate(180deg);
	}

	.triangle {
		top: -6px;
		left: -133px;
	}

	.big-cross {
		bottom: 189px;
		left: -81px;
	}

	.middle-circle-1 {
		bottom: 14px;
		left: -39px;

		width: 107px;
		height: 107px;
	}

	.big-circle-icon {
		top: 218px;
		right: -315px;
	}

	.middle-circle-2 {
		z-index: -1;
		right: -73px;
		bottom: 306px;
	}
}

.crypto__wrapper {
	position: relative;

	display: flex;
	justify-content: space-between;
}

.crypto__description {
	margin-top: 42px;
	margin-left: 9px;
}

.crypto__right {
	position: relative;

	margin-top: -104px;
}

.crypto__list {
	max-width: 611px;
	padding-top: 15px;
	padding-left: 39px;
}

.crypto__item.text {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 41px;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: -20px;

		width: 10px;
		height: 10px;

		content: '';
		transform: translateY(-50%);

		border-radius: 50%;
		background-color: #747376;
	}
}

.crypto__right-img {
	position: relative;

	width: 610px;
	height: 760px;

	background-image: url('../images/crypto/mustache.jpg');

	&::before {
		position: absolute;
		z-index: -1;
		top: -19px;
		left: 28px;

		width: 99%;
		height: 99%;

		content: '';

		border: 1px solid #E3E3E3;
	}

	@include backgroundStyle;
}
