@import '../base/constans';
@import '../base/mixins';

.to-use {
	position: relative;

	padding-top: 159px;
	padding-bottom: 100px;

	.waves-icon {
		z-index: -1;
		top: -53px;
		left: 94px;

		transform: rotateX(180deg);
	}

	.two-triangles-1 {
		z-index: -1;
		top: 43px;
		right: -98px;
	}

	.big-circle-icon {
		top: 95px;
		left: -342px;
	}

	.two-circle-icon {
		top: 40px;
		left: -84px;

		transform: rotateX(180deg);
	}

	.two-crosses {
		top: -60px;
		left: -27px;
	}
}

.to-use__wrapper {
	position: relative;
}

.to-use__list {
	display: flex;
	flex-wrap: wrap;

	margin-top: 119px;
}

.to-use__item {
	max-width: 265px;

	&:not(:last-child) {
		margin-right: 80px;
	}
}

.to-use__item-title {
	padding-top: 30px;

	color: $ifm-primary-color;

	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
}

.to-use__item-link {
	text-decoration: none;

	&:hover {
		text-decoration: none;

		.to-use__item-title {
			color: $ifm-link-hover;
		}
	}
}

.to-use__item-img {
	width: 100%;
	height: 148px;

	background: #EAF0F0;

	&--1 {
		background-image: url('../images/to-use/1.jpg');
	}

	&--2 {
		background-image: url('../images/to-use/2.jpg');
	}

	&--3 {
		background-image: url('../images/to-use/3.jpg');
	}

	&--4 {
		background-image: url('../images/to-use/4.jpg');
	}

	@include backgroundStyle;
}

.to-use__join {
	position: relative;

	display: flex;
	justify-content: center;

	margin-top: 102px;

	p {
		max-width: 546px;
		margin-right: 40px;
		margin-bottom: 0;

		color: $ifm-primary-color;

		font-size: 16px;
		line-height: 24px;
	}

	&::after,
	&::before {
		position: absolute;
		top: 50%;

		width: 220px;
		height: 1px;

		content: '';
		transform: translateX(-50%);

		background-color: $ifm-secondary-color;
	}

	&::before {
		left: 117px;
	}

	&::after {
		right: -102px;
	}
}
