@media (max-width: 760px) {
  .footer-content {
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer-socials {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .footer-social-link svg {
    width: 24px;
  }

  .footer-copy {
    width: 240px;
    font-size: 14px;
    font-weight: 400;
  }

  .footer-heart {
    width: 14px;
    height: 13px;
  }
}
