@import "../../../base/constans";
@import "../../../base/mixins";

@media (max-width: 650px) {
    .complex__wrapper{
        padding: 60px 10px;
    }
    .complex__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .complex__text {
        font-size: 14px;
        margin-bottom: 20px;
    }
}
