@import '../../../base/constans';
@import '../../../base/mixins';

@media (max-width: 850px) {
  .resources__wrapper {
    align-items: flex-start;
    padding: 120px 0 90px;
  }

  .resources__main {
    flex-wrap: wrap;
  }

  .resources__left-block {
    width: 100%;
    padding-bottom: 100px;
  }

  .resources__right-block {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .resources__wrapper {
    padding: 40px 0;
  }

  .resources__left-block {
    width: 100%;
    padding-bottom: 40px;
  }

  .resources__title {
    font-size: 24px;
  }

  .resources__left-title {
    font-size: 18px;
  }

  .resources__right-title {
    font-size: 18px;
  }

  .resources__item {
    font-size: 14px;
  }
}
