@import '../../../base/constans';
@import '../../../base/mixins';

@media (max-width: 1400px) {
  .typography__block-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .h2-web {
    width: 393px;
  }

  .h3-web {
    width: 393px;
    margin: 0;
  }

  .web-36 {
    width: 393px;
    margin: 0;
  }

  .typography__item {
    margin-bottom: 60px;
  }
}

@media (max-width: 1050px) {
  .typography__item {
    width: 97px;
  }

  .typography__block-info {
    max-width: none;
    width: 100%;
  }

  .h1-web {
    text-align: left;
    width: 100%;
  }

  .h2-web {
    width: 302px;
  }

  .h3-web {
    width: 302px;
  }

  .web-36 {
    width: 302px;
  }
}

@media (max-width: 850px) {
  .typography-button {
    max-width: 255px !important;
  }

  .typography__wrapper {
    padding: 0 0 60px;
  }

  .typography__block-content {
    padding: 90px 0;
  }

  .h2-web {
    width: 242px;
  }

  .h3-web {
    width: 242px;
  }

  .web-36 {
    width: 242px;
  }
}

@media (max-width: 650px) {
  .typography__block-content {
    padding: 0;
  }

  .typography__title {
    font-size: 24px;
  }

  .typography__text {
    font-size: 14px;
  }

  .typography__item {
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    padding: 0;
  }

  .typography-button {
    max-width: 100% !important;
    width: 100%;
    margin-top: 0;
  }
}
