@import '../base/mixins';

.big-circle-icon,
.two-circle-icon,
.waves-icon,
.waves-icon-2,
.many-straight-lines-icon,
.two-triangles-1,
.two-triangles-2,
.two-crosses,
.many-small-lines,
.mini-circle-icon,
.many-small-lines-white,
.extra-large-circle-icon,
.big-cross,
.middle-circle,
.middle-circle-1,
.middle-circle-2,
.triangle {
	position: absolute;
	z-index: 2;

	display: block;

	@include backgroundStyle;
}

.big-circle-icon {
	width: 212px;
	height: 212px;

	background-image: url('../images/bg-icon/big-circle-icon.svg');
}

.two-circle-icon {
	width: 58px;
	height: 54px;

	background-image: url('../images/bg-icon/two-circle-icon.svg');
}

.waves-icon,
.waves-icon-2 {
	width: 393px;
	height: 106px;

	background-image: url('../images/bg-icon/waves-icon.svg');
}

.many-straight-lines-icon {
	width: 472px;
	height: 472px;

	background-image: url('../images/bg-icon/many-straight-lines-icon.svg');
}

.two-triangles-1 {
	width: 178px;
	height: 131px;

	background-image: url('../images/bg-icon/two-triangles-1.svg');
}

.two-triangles-2 {
	width: 178px;
	height: 131px;

	background-image: url('../images/bg-icon/two-triangles-2.svg');
}

.two-crosses {
	width: 102px;
	height: 121px;

	background-image: url('../images/bg-icon/two-crosses.svg');
}

.many-small-lines {
	width: 314px;
	height: 45px;

	background-image: url('../images/bg-icon/many-small-lines.svg');
}

.mini-circle-icon {
	width: 18px;
	height: 18px;

	background-image: url('../images/bg-icon/mini-circle-icon.svg');
}

.many-small-lines-white {
	width: 284px;
	height: 45px;

	background-image: url('../images/bg-icon/many-small-lines-white.svg');
}

.extra-large-circle-icon {
	width: 523px;
	height: 612px;

	background-image: url('../images/bg-icon/extra-large-circle-icon.svg');
}

.big-cross {
	width: 208px;
	height: 208px;

	background-image: url('../images/bg-icon/big-cross.svg');
}

.middle-circle,
.middle-circle-1,
.middle-circle-2 {
	width: 63px;
	height: 63px;

	background-image: url('../images/bg-icon/middle-circle.svg');
}

.triangle {
	width: 131px;
	height: 131px;

	background-image: url('../images/bg-icon/triangle.svg');
}
