@import '../base/constans';
@import '../base/animate';

.button {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	white-space: nowrap;

	border: none;
	background-color: transparent;

	&:hover {
		text-decoration: none;
	}

	&.icon {
		padding: 5px;
	}

	&.expansion {
		min-width: 176px;
		padding: 8px 20px;

		color: #FFF;

		background-color: $ifm-background-color-button;

		font-size: 16px;
		line-height: 149%;

		&:hover,
		&:focus {
			background-color: $ifm-button-hover;
		}

		&:active {
			background-color: $ifm-button-active;
		}
	}

	&.border {
		color: $ifm-color-button;
		border: 1px solid $ifm-color-button;
		background-color: transparent;

		&:hover,
		&:focus {
			color: $ifm-button-hover;
			border-color: $ifm-button-hover;
			background-color: transparent;
		}

		&:active,
		&:focus {
			color: $ifm-button-active;

			border-color: $ifm-button-active;
			background-color: transparent;
		}
	}

	&.center {
		margin: 0 auto;
		margin-top: 10px;
	}

	&.animate {
		animation: topToBottom 1.5s infinite;
	}

	&.wight-900 {
		font-weight: 900;
	}

	&.augment {
		max-width: 188px;
		margin-top: 55px;
		margin-left: 118px;
		padding: 12px 17px;
	}

	&:focus {
		outline: none;
	}
}

.button-augment {
	position: fixed;
	z-index: 20;
	right: 40px;
	bottom: 30px;

	padding: 13px 14px;

	cursor: pointer;

	color: #FFF;
	border-radius: 34px;
	background-color: $ifm-background-color-button;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.09), 0 10px 8px rgba(38, 117, 209, 0.04);

	font-size: 16px;
	font-weight: 400;

	span {
		margin-left: 10px;
	}

	input[type="checkbox"] {
		position: absolute;

		width: 100%;
		height: 100%;

		cursor: pointer;

		opacity: 0;
	}

	&:hover,
	&:focus {
		background-color: $ifm-button-hover;
	}

	&:active {
		background-color: $ifm-button-active;
	}

	&.hide {
		visibility: hidden;

		pointer-events: none;

		opacity: 0;
	}
}

.button-link {
	display: block;

	width: 100%;
	max-width: 24px;
	height: 100%;
}
