@import '../base/constans';
@import '../base/mixins';

.cookies {
	position: fixed;
	z-index: 100;
	right: 0;
	bottom: 0;

	max-width: 416px;
	padding: 25px;

	background: #FFF;

	&.cookies-hide {
		display: none !important;
	}

	@include backgroundStyle;
}

.cookies__wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.cookies__title {
	color: #2A2A2A;

	font-size: 16px;
	font-weight: 900;
	line-height: 149%;
}

.cookies__buttons {
	display: flex;

	align-items: center;
	flex-direction: column;

	margin-top: 10px;
}

.cookies__text-mobile {
	display: none;
}

.cookies__description {
	margin-top: 15px;

	p {
		max-width: 100%;

		color: #2A2A2A;

		font-size: 14px;
		line-height: 149%;
	}
}

.cookies__link {
	text-decoration: underline;

	color: $ifm-link-hover;

	&:hover {
		color: $ifm-link-hover;
	}
}

@media (max-width: 480px) {
	.cookies__description p {
		display: none;
	}

	.cookies__text-mobile {
		display: block !important;
	}
}
