@import '../base/constans';
@import '../base/mixins';

.cookies {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;

	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;

	background-image: url('../images/bg/cookies-policy-bg.jpg');

	&.cookies-hide {
		display: none !important;
	}

	@include backgroundStyle;
}

.cookies__wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cookies__title {
	color: #2A2A2A;

	font-size: 41px;
	font-weight: 900;
	line-height: 149%;
}

.cookies__buttons {
	display: flex;

	button:first-child {
		margin-right: 20px;
	}
}

.cookies__description {
	margin-top: 35px;

	.text {
		max-width: 100%;
	}
}

.cookies__link {
	text-decoration: underline;

	color: $ifm-link-hover;

	&:hover {
		color: $ifm-link-hover;
	}
}

@media (max-width: 768px) {
	.cookies {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cookies__wrapper {
		justify-content: center;

		text-align: center;
	}

	.cookies__description {
		margin-top: 4px;

		text-align: left;
	}

	.cookies__buttons {
		flex-direction: column;
		order: 3;

		width: 100%;

		margin-top: 30px;
	}

	.cookies__buttons button:first-child {
		margin: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.cookies__wrapper {
		justify-content: flex-start;

		text-align: left;
	}

	.cookies__title {
		font-size: 26px;
		line-height: 149%;
	}

	.cookies__description {
		margin-top: 20px;
	}
}
