@import '../base/constans';

.hamburger__item {
	position: relative;

	display: block;

	width: 100%;
	height: 2px;

	background-color: $ifm-border-color-hamburger;

	&::after,
	&::before {
		position: absolute;
		left: 0;

		width: 100%;
		height: 100%;

		content: '';

		background-color: $ifm-border-color-hamburger;
	}

	&::after {
		top: 5px;
	}

	&::before {
		top: 10px;
	}
}

.hamburger {
	display: none;

	width: 40px;
	height: 40px;
	padding: 12px 10px;

	border: 1px solid $ifm-border-color-hamburger;

	&.hamburger {
		.hamburger__item {
			background-color: transparent;

			&::after {
				transform: rotate(45deg);
			}

			&::before {
				top: 5px;

				transform: rotate(-45deg);
			}
		}
	}
}
