@import '../base/constans';

.languages__list {
	position: absolute;

	z-index: 10;
	top: 100%;
	left: 0;

	visibility: hidden;

	min-width: 150px;

	margin-bottom: 0;
	padding: 7px;

	transform: scale(0);

	opacity: 0;

	border-radius: 4px;
	background-color: #FFF;
}

.languages {
	position: relative;

	white-space: nowrap;

	color: $ifm-header-top-link-color;

	font-size: 16px;
	line-height: 24px;

	&:hover .languages__list {
		visibility: visible;

		transform: scale(1);

		opacity: 1;
	}
}

.languages__item {
	display: block;

	padding: 5px;

	cursor: pointer;

	white-space: nowrap;

	border-radius: 4px;

	font-size: 0.875rem;

	&--active {
		color: $ifm-link-hover;
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

.languages__active {
	position: relative;

	padding: 0;

	text-transform: uppercase;

	border-bottom: 1px solid $ifm-header-top-link-color;

	&::after {
		display: inline-block;

		width: 12px;
		height: 13px;
		margin-left: 17px;

		content: '';

		background-image: url('../images/icons/languages-arrow-bottom.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
