@import '../../../base/mixins';

.mission {
	position: relative;

	padding-top: 79px;
	padding-bottom: 91px;

	.big-circle-icon {
		z-index: -1;
		top: -14px;
		right: 0;
	}

	.middle-circle {
		z-index: -1;
		top: -40px;
		right: 227px;
	}

	.many-straight-lines-icon {
		z-index: -1;
		top: -99px;
		right: -188px;

		transform: rotate(90deg);
	}

	.many-small-lines {
		right: -153px;
		bottom: 39px;
	}

	.two-crosses {
		top: 41px;
		left: -35px;
	}

	.two-triangles-2 {
		bottom: 19px;
		left: -61px;
	}

	.two-triangles-1 {
		z-index: -1;
		top: 60px;
		left: -78px;

		transform: rotate(208deg);
	}
}

.mission__wrapper {
	display: flex;
	justify-content: space-between;
}

.mission__left {
	position: relative;

	width: 100%;
	max-width: 610px;
}

.mission__right {
	position: relative;

	margin-top: 145px;
}

.mission__img {
	position: relative;

	width: 100%;
	min-height: 750px;

	background-image: url('../images/bg/mission-desktop.png');

	&::after {
		position: absolute;
		top: -20px;
		left: 20px;

		width: 100%;
		height: 100%;

		content: '';

		background-image: url('../images/bg/ideas-desktop-border.svg');

		@include backgroundStyle;
	}

	@include backgroundStyle;
}

.mission__list {
	margin-top: 40px;
}

.mission__item {
	position: relative;

	padding-left: 44px;

	&::before {
		position: absolute;
		top: 50%;
		left: 12px;

		width: 4px;
		height: 50px;

		content: '';
		transform: translateY(-50%) rotate(20deg);

		background: #588CA3;
	}

	&.text:not(:last-child) {
		margin-bottom: 50px;
	}
}
