/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* REGULAR */
@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
	src:
		local(''),
		url('../fonts/Montserrat/montserrat-v18-latin-regular.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat-v18-latin-regular.woff') format('woff');
}

/* SEMI BOLD */
@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: normal;
	src:
		local(''),
		url('../fonts/Montserrat/montserrat-v18-latin-600.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat-v18-latin-600.woff') format('woff');
}

/* BOLD */
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
	src:
		local(''),
		url('../fonts/Montserrat/montserrat-v18-latin-700.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat-v18-latin-700.woff') format('woff');
}

/* BLACK */
@font-face {
	font-family: 'Montserrat';
	font-weight: 900;
	font-style: normal;
	src:
		local(''),
		url('../fonts/Montserrat/montserrat-v18-latin-900.woff2') format('woff2'),
		url('../fonts/Montserrat/montserrat-v18-latin-900.woff') format('woff');
}
