
/* BOLD */
@font-face {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-style: normal;
  src:
    local(''),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff') format('woff2');
}

/* BLACK */
@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: normal;
  src:
    local(''),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
}
