/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

/* REGULAR */
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src:
		local(''),
		url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-v27-latin-regular.woff') format('woff');
}
